body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

#lyfus {
    font-size: 15vw;
    transition: font-family 0.2s ease;
    user-select: none;
}