body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}
#scroll-wrapper {
    height: 200vh; /* twice the screen height */
    width: 100%;
    position: relative;
}
#lyfus {
    font-size: 8vw;
    transition: font-family 0.2s ease;
    user-select: none;
    position: fixed; /* stays centered even while page "scrolls" */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#sounddesign {
    font-size: 3.4vw;
    transition: font-family 0.2s ease;
    user-select: none;
    position: fixed; /* stays centered even while page "scrolls" */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

}

/* Portrait mode adjustments */
@media (orientation: portrait) {
    #lyfus {
	font-size: 10vw;
        top: 50%; /* pull it up */
    }

    #sounddesign {
font-size: 4vw;
        top: 53%; /* pull it up */
    }
}
