body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8f8;
}

#lyfus {
    font-size: 15vw;
    transition: font-family 0.2s ease;
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    transition: font-size 0.15s ease-out;
}
